body {background-image: url('https://c1.wallpaperflare.com/preview/127/366/443/library-book-bookshelf-read.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);

  }

.wd-bg-blue {background-color: Ivory !important; border: 0 !important; }
.wd-bg-sameblue {background-color: Ivory !important; border: 0 !important;}
.wd-search-btn-pos {bottom: 23px; left: 650px;}
.wd-link {text-decoration: none; color: Ivory; }
.wd-link:hover {color: #164f80;}
.wd-nudge-up {bottom: 8px; left: 25px; }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: Ivory;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: Ivory;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    
  }
}
